.full-width-table {
  width: 100%;
}

.edit {
  margin-right: 10px;
}

.edit i {
  color: rgb(0, 183, 255);
}

.delete i {
  color: rgb(255, 0, 0);
}

.search-field {
  margin-left: 15px;
}

button {
  justify-items: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}
