<mat-card>
  <mat-card-title>New Course</mat-card-title>

  <form>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="course.name" name="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Start Date" [(ngModel)]="course.startDate" name="startDate" type="date" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="End Date" [(ngModel)]="course.endDate" name="endDate" type="date" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Duration (week)"
        name="duration"
        [(ngModel)]="course.duration"
        (click)="duration()"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Description" [(ngModel)]="course.description" name="description" type="text" />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createCourse()" id="save-btn">Save</button>

  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-card>
